.App {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.topics-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 40%;
  height: 77%;
}

.block_container {
  overflow: hidden;
  transition: transform .2s;
}

.block {
  width: 300px;
  height: 350px;
  border: 2px solid grey;
  border-radius: 7px;
  margin: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.block_container:hover {
  transform: translateY(-20px);
  cursor: pointer;
}

.topics2-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  height: 77%;
}

.text {
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
}

.search {
  margin-bottom: 50px;
  width: 350px;
  height: 25px;
  border: 2px solid grey;
  border-radius: 7px;
  padding: 5px;
  font-family: inherit;
}